.row-fluid.logo
= render 'shared/navigation'
.row-fluid.weare
	%h1
		We are a
		%span.bold
			multidisciplinary design agency
		based in Berlin and
		Buenos Aires devoted to creating sticky brand experiences.
		We believe in the power of ideas to differentiate and motivate,
		working in a vast range of artistic areas.
.row-fluid
	.works
		.row-fluid
			%h2 Proud of
			%h3 - Every single piece -
		.row-fluid
			.span4
				.work
					.ph
						= image_tag("project01.jpg")
					.info
						%h5 Work Name
						%p Categories & Tags
			.span4
				.work
					.ph
						= image_tag("project02.jpg")
					.info
						%h5 Work Name
						%p Categories & Tags
			.span4
				.work
					.ph
						= image_tag("project03.jpg")
					.info
						%h5 Work Name
						%p Categories & Tags
		.row-fluid
			.span4
				.work
					.ph
						= image_tag("project02.jpg")
					.info
						%h5 Work Name
						%p Categories & Tags
			.span4
				.work
					.ph
						= image_tag("project04.jpg")
					.info
						%h5 Work Name
						%p Categories & Tags
			.span4
				.work
					.ph
						= image_tag("project01.jpg")
					.info
						%h5 Work Name
						%p Categories & Tags
		.row-fluid
			.span4
				.work
					.ph
						= image_tag("project01.jpg")
					.info
						%h5 Work Name
						%p Categories & Tags
			.span4
				.work
					.ph
						= image_tag("project02.jpg")
					.info
						%h5 Work Name
						%p Categories & Tags
			.span4
				.work
					.ph
						= image_tag("project01.jpg")
					.info
						%h5 Work Name
						%p Categories & Tags
.row-fluid
	.nuevediez
		%h2
			we are 0910